{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bible_app/buttons.css' %}">


<label class="container">Genesis
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>

<label class="container">Exodus
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Leviticus
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Numbers
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Deuteronomy
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>